/.env
/.vscode
/__pycache__
/business_names.csv
/business_names_new.csv
/business_names_with_categories.csv
/business_transactions_dataset.csv
/categories.csv
/categories.zstd.parquet
/checkpoints
/data
/dataset
/filtered-top-categories.csv
/models
/names_and_categories.csv
/taxonomy.json
/transactions_dataset.csv